.sidemenu__holder {
    width: 400px;
    position: relative;
    @media(max-width: 870px) {
        display: none;
    }
}

.sidemenu {
    padding: 40px 30px;
    box-sizing: border-box;
    overflow-y: auto;
    height: 100%;
    width: 400px;
    position: fixed;
    -webkit-box-shadow: 5px 0px 5px -5px rgba(34, 60, 80, 0.35);
    -moz-box-shadow: 5px 0px 5px -5px rgba(34, 60, 80, 0.35);
    box-shadow: 5px 0px 5px -5px rgba(34, 60, 80, 0.35);
    @media(max-width: 870px) {
        display: none;
    }
}

.gallery_nav {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.gallery__link_a {
    position: relative;
    text-decoration: none;
    color: #0e0e10;
    font-family: "Diia", sans-serif;
    font-weight: 400;
}